[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
persiantools = "*"
pytest = "*"
pytest-cov = "*"
psycopg2 = "*"

[dev-packages]
isort = "*"
black = "*"
autoflake = "*"
flake8 = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
