absl-py==2.1.0
APScheduler==3.10.4
asgiref==3.8.1
astunparse==1.6.3
attrs==21.2.0
autoflake==2.3.1
bcrypt==4.1.2
black==24.8.0
certifi==2023.11.17
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==41.0.7
distlib==0.3.8
Django==4.2.11
django-filter==24.3
django-phonenumber-field==8.0.0
django-shortcuts==1.6
djangorestframework==3.12.4
drf-spectacular==0.17.2
et-xmlfile==1.1.0
filelock==3.16.1
flake8==7.1.1
flatbuffers==24.3.25
gast==0.6.0
google-pasta==0.2.0
grpcio==1.66.2
h5py==3.12.1
identify==2.6.1
idna==3.6
inflection==0.5.1
isort==5.13.2
joblib==1.4.2
jsonschema==3.2.0
keras==3.5.0
libclang==18.1.1
Markdown==3.3.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
ml-dtypes==0.4.1
mypy-extensions==1.0.0
namex==0.0.8
nodeenv==1.9.1
numpy==1.26.4
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.12.1
packaging==24.1
pandas==2.2.2
paramiko==3.4.0
pathspec==0.12.1
persiantools==4.2.0
phonenumbers==8.13.47
pipenv==2024.1.0
platformdirs==4.3.6
pre-commit==3.8.0
protobuf==4.25.5
PuLP==2.9.0
pycodestyle==2.12.1
pycparser==2.21
pyflakes==3.2.0
Pygments==2.18.0
PyNaCl==1.5.0
pyrsistent==0.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==5.4.1
requests==2.31.0
rich==13.8.1
scikit-learn==1.5.2
scipy==1.13.1
six==1.16.0
sqlparse==0.4.1
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
threadpoolctl==3.5.0
tomli==2.0.1
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
uritemplate==3.0.1
urllib3==2.1.0
virtualenv==20.26.6
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.0.4
wrapt==1.16.0
